.playground {
  display: grid;
  min-height: 100vh;
  justify-content: center;
}
.container-control {
  display: grid;
  grid-auto-flow: column;
  align-items: flex-end;
  gap: 4px;
}
.container-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner-label {
  color: #54b435;
}

.button {
  background-color: black;
  border-color: black;
}
.button.block {
  width: 100%;
}
.button.button-clear,
.button.button-outline {
  background-color: transparent;
  color: black;
}
.button.button-clear {
  border-color: transparent;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: black;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-pieces .row {
  padding: 1rem 0;
}

.piece-btn {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: solid 2px darkgrey;
  border-radius: 5px;
  background-color: #fff;
  height: auto;
  margin-bottom: 0;
  width: 100%;
}
.piece-btn:hover {
  background-color: darkgrey;
  border: solid 2px darkgrey;
}

.controls {
  display: flex !important;
  align-items: center !important;
}
.control {
  flex: 1;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  display: flex;
  align-items: center;
  gap: 3px;
}
.control > svg {
  margin-bottom: 4px;
}
.control:first-child {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.control:last-child {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.fen {
  margin-top: 1rem;
}
.hidden {
  display: none !important;
}
